name: Deploy MkDocs site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material
      
      - name: Install dependencies 2
        run: |
          pip install mkdocstrings[python]

      - name: Install dependencies 3
        run: |
          pip install mkdocs-glightbox

      - name: Build MkDocs site
        run: |
          mkdocs build

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./site

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.email "your-email@example.com"
          git config --global user.name "your-github-username"
          git checkout --orphan gh-pages
          git --work-tree=./site add --all
          git --work-tree=./site commit -m "Deploy MkDocs site"
          git push origin gh-pages --force